@using MemeHub.ViewModels.MemeViewModels;
@using MemeHub.App.Controllers;
@model MemeUploadViewModel
@{
    ViewData["Title"] = "Create meme";
}

<div class="container">
    <div class="container-fluid">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="container">
        <form asp-controller="@nameof(MemeController).Replace(nameof(Controller), string.Empty)"
              asp-action="@nameof(MemeController.Create)"
              method="post" , enctype="multipart/form-data">
            <div class="form-group pt-2">
                <label asp-for="Title">Title:</label>
                <input asp-for="Title" class="form-control" type="text" placeholder="Meme title here...">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group pt-2">
                <label asp-for="Categories">Category:</label>
                <select asp-for="CategoryId" class="form-control">
                    @if ((Model.Categories is null) == false)
                    {
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group pt-2">
                <div class="custom-file">
                    <label asp-for="Photo" class="custom-file-label">Choose file...</label>
                    <input asp-for="Photo" class="form-control custom-file-input">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group pt-2 d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-dark center">Create</button>
            </div>
        </form>
    </div>
</div>
